<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="autoMappingUnknownColumnBehavior" value="NONE" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
<typeAliases>
  <typeAlias type='org.jvnet.hudson.test.mybatis.User' alias='User'></typeAlias>
 </typeAliases>
	
	<environments default='development'>
		<environment id='development'>
			<transactionManager type='JDBC' />
			<dataSource type='POOLED'>
				<property name='driver' value='com.mysql.jdbc.Driver' />
				<property name='url' value='jdbc:mysql://114.31.122.81:13306/fw' />
				<property name='username' value='framework' />
				<property name='password' value='123qwe' />
			</dataSource>
		</environment>
	</environments>
	<mappers>
	<mapper
			resource='org/jvnet/hudson/test/mybatis/UserMapper.xml' />
	</mappers>

</configuration>
